<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>name</key>
		<string>网址导航</string>
		<key>icon</key>
		<string>quicklink_snapshot_appcenter</string>
		<key>url</key>
		<string>http://h5.mse.360.cn/navi.html</string>
	</dict>
	<dict>
		<key>name</key>
		<string>今日头条</string>
		<key>icon</key>
		<string>quicklink_snapshot_ZiXunJingXuan</string>
		<key>url</key>
		<string>http://m.toutiao.com/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>58同城</string>
		<key>icon</key>
		<string>quicklink_snapshot_58TongCheng</string>
		<key>url</key>
		<string>http://m.58.com/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>百度</string>
		<key>icon</key>
		<string>quicklink_snapshot_baidu</string>
		<key>url</key>
		<string>http://m.baidu.com/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>腾讯微博</string>
		<key>icon</key>
		<string>quicklink_snapshot_blog</string>
		<key>url</key>
		<string>http://t.qq.com/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>大众点评</string>
		<key>icon</key>
		<string>quicklink_snapshot_DianPing</string>
		<key>url</key>
		<string>http://m.dianping.com/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>口袋购物</string>
		<key>icon</key>
		<string>quicklink_snapshot_download</string>
		<key>url</key>
		<string>http://www.koudai.com/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>游戏中心</string>
		<key>icon</key>
		<string>quicklink_snapshot_gamecenter</string>
		<key>url</key>
		<string>http://games.qq.com/mobile/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>腾讯管家</string>
		<key>icon</key>
		<string>quicklink_snapshot_GuanJia</string>
		<key>url</key>
		<string>http://guanjia.qq.com/?ADTAG=media.buy.baidu.TXGJSEM</string>
	</dict>
	<dict>
		<key>name</key>
		<string>美团</string>
		<key>icon</key>
		<string>quicklink_snapshot_MeiTuan</string>
		<key>url</key>
		<string>http://m.meituan.com/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>腾讯新闻</string>
		<key>icon</key>
		<string>quicklink_snapshot_new_touch</string>
		<key>url</key>
		<string>http://news.qq.com/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>QQ空间</string>
		<key>icon</key>
		<string>quicklink_snapshot_qzone_touch</string>
		<key>url</key>
		<string>http://qzone.qq.com/index.html</string>
	</dict>
	<dict>
		<key>name</key>
		<string>热门视频</string>
		<key>icon</key>
		<string>quicklink_snapshot_ReMenShiPin</string>
		<key>url</key>
		<string> http://v.html5.qq.com/?ch=001201#p=index&amp;g=11</string>
	</dict>
	<dict>
		<key>name</key>
		<string>热门游戏</string>
		<key>icon</key>
		<string>quicklink_snapshot_ReMenYouXi</string>
		<key>url</key>
		<string>http://game.qq.com/index.shtml</string>
	</dict>
	<dict>
		<key>name</key>
		<string>搜狗</string>
		<key>icon</key>
		<string>quicklink_snapshot_Sogou</string>
		<key>url</key>
		<string>https://m.sogou.com</string>
	</dict>
	<dict>
		<key>name</key>
		<string>途牛网</string>
		<key>icon</key>
		<string>quicklink_snapshot_TuNiu</string>
		<key>url</key>
		<string>http://m.tuniu.com/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>天气</string>
		<key>icon</key>
		<string>quicklink_snapshot_weather</string>
		<key>url</key>
		<string>http://m.weather.com.cn/weather/101010100.shtml</string>
	</dict>
	<dict>
		<key>name</key>
		<string>微信热文</string>
		<key>icon</key>
		<string>quicklink_snapshot_WeiXinReWen</string>
		<key>url</key>
		<string>http://m.weixinrewen.net/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>小说书架</string>
		<key>icon</key>
		<string>quicklink_snapshot_XiaoShuoShuJia</string>
		<key>url</key>
		<string>http://m.zongheng.com/topic/6002.html</string>
	</dict>
	<dict>
		<key>name</key>
		<string>腾讯视频</string>
		<key>icon</key>
		<string>quicklink_snapshot_qqVideo</string>
		<key>url</key>
		<string>http://v.qq.com/index.html</string>
	</dict>
</array>
</plist>
